<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <!--[if IE]><meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"><![endif]-->
    <title>VOE - 管理平台</title>
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="css/templatemo_main.css">
    <script type="text/javascript" src="js/string-format.js"></script>
    <script type="text/javascript" src="js/jquery.min.js"></script>
    <script type="text/javascript" src="js/bootstrap.min.js"></script>
    <script type="text/javascript" src="js/templatemo_script.js"></script>
    <script type="text/javascript" src="js/common.js"></script>
    <script type="text/javascript" src="js/check_login.js"></script>
    <script type="text/javascript" src="js/voeapi.js"></script>
    <link rel="stylesheet" href="css/tables.css">
    <style type="text/css">
        .navbar-header a:link { color: darkgray; text-decoration: none;}
        .navbar-header a:active { text-decoration:blink}
        .navbar-header a:hover { text-decoration:underline;}
        .navbar-header a:visited { text-decoration: none;}

        td input {
            width: 100%;
        }
    </style>
    <script type="text/javascript">
        window.curpage = $.getUrlParam('curpage');
        if (window.curpage == null)
        {
            window.curpage = 1;
        }
        window.curpage = window.curpage |0;
        format.extend(String.prototype);
    </script>
</head>
<body>
<div class="navbar navbar-inverse" role="navigation">
    <div class="navbar-header">
        <a href="index.html" class="logo" style="text-decoration: none"><h1>VOE - 管理平台</h1></a>
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
    </div>
</div>
<div class="template-page-wrapper">
    <div class="navbar-collapse collapse templatemo-sidebar" id="nav-bar">
        {% include nav.html %}
    </div><!--/.navbar-collapse -->
 </div>
    <div class="templatemo-content-wrapper">
        <div class="templatemo-content">
            <ol class="breadcrumb">
                <li><a href="index.html">首页</a></li>
                <li><a href="#">{{ page.title }}</a></li>
            </ol>

          <div class="templatemo-panels">
            {{ page.content }}
          </div>
        </div>
    </div>
    <div id="modal-dialogs">
        {% include modal-dialogs.html %}
    </div>
    <footer class="templatemo-footer" >
        {% include copyright.html %}
    </footer>
</div>
</body>
<script type="text/javascript" src="voe-stdafx.js"></script>
<script src="{{ page.script }}"></script>
<script type="text/javascript">
    voe_check_login();
</script>
</html>

